
* {
  font-family: 'Open Sans', sans-serif;
}

body { 
  display: flex;
  margin: 0; 
  min-height: 100vh;
  background-color: blue; 
}

h1 {
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  margin: 200px auto 0 auto;
}

button {
  outline: none;
}  

hr {
  width: 98%;
  background-color: #cfd8dc;
}

a:link, 
a:visited {
  color: #455A64;
  text-decoration-color: #f2F4F4;
}

a:hover {
  text-decoration-color: #FFC107;
}

.web-title,
.web-url {
  width: 450px;
  height: 40px;
  font-size: 28px;
  display: flex;
  margin: 50px auto;
  padding-left: 10px;
}

.main-left {
  background-color: #455a64;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}

.logo {
  height: 119px;
  width: 77px;
  margin: -30px 5px;
}
 
.main-right {
  background-color: #cfd8dc;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  max-height: 100vh;
  overflow: scroll;
}

.required-input {
  color: #FFFFFF;
  text-align: center;
}

.card {
  align-items: center;
  background-color: #ffffff;
  border-color: #607d8b;
  border-style: solid;
  box-sizing: border-box;
  margin: 23px auto;
  padding: 0 30px;
  width: 584px;
}

.card-title {
  color: #455a64;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 3px;
  padding-left: 10px;
}

.card-website {
  color: #607d8b;
  font-size: 20px;
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  text-underline-position: under;
}

.enter-button,
.clear-all-bttn  {
  background-color: #ffc107;
  border-color: #FFC107;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  font-weight: 800;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 465px;
}

.enter-button:hover,
.clear-all-bttn:hover  {
  background-color: #ffd773;
  transition: .5s;
}

.bookmark-count,
.read-count {
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  margin: 4px;
}


.read-bttn, 
.delete-bttn {
  background-color: transparent;
  border: none;
  color: #607D8B;
  font-size: 16px;
  padding-bottom: 14px;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #F2F4F4;
}

.delete-bttn {
  float: right;
}

.read-bttn:hover,
.card-website:hover {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.delete-bttn:hover {
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.read {
  background-color: #F2F4F4;
}

.read.card a {
  text-decoration: underline;
  text-decoration-color: #CFD8DC;
}

.read.card button:first-of-type {
  color: #F05A28;
  font-weight: 800;
}

.enter-button:disabled,
.clear-all-bttn:disabled  {
  background-color: #2b353a;
  border-color: #2b353a;
}

.warning {
  color: #f05a28;
  margin: -30px auto;
  text-align: center;
}

@media screen and (max-width: 1445px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 975px) {
  body {
    flex-direction: column;
  }
  .main-right{
    max-height: 80vh;
  }
  .card {
    width: 85%;
  }
}

@media screen and (max-width: 530px) {
  .main-left {
    max-height: 75vh;
  }
  h1 {
    font-size: 31px;
    margin: 10px auto 0 auto;
  }
  .logo {
    height: 82px;
    width: 39px;
  }
  .web-title,
  .web-url {
    margin: 24px auto;
    width: 90%;
    
  }
  .enter-button,
  .clear-all-bttn {
    width: 90%;
  }
  .bookmark-count,
  .read-count {
    margin: 10px auto;
  }
  .card {
    height: 175px;
    margin: 9px auto;
    width: 78%;
  }
  .card-title {
    font-size: 24px;
  }
  .card-website {
    font-size: 17px;
  }
  .warning {
    margin: -18px auto;
  }
}
