* {
  font-family: 'Open Sans', sans-serif;
}

body { 
  margin: 0; 
  display: flex;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  margin: 200px auto 0 auto;
}

button {
  outline: none;
}  

.web-title,
.web-url {
  width: 450px;
  height: 40px;
  font-size: 28px;
  display: flex;
  margin: 50px auto;
  padding-left: 10px
}

.main-left {
  background-color: #455a64;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}

.logo {
  height: 119px;
  width: 77px;
  margin: -30px 5px;
}
 
.main-right {
  background-color: #cfd8dc;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  max-height: 100vh;
  overflow: scroll;
}

.required-input {
  color: #FFFFFF;
  text-align: center;
}

.card {
  border-style: solid;
  border-color: #607d8b;
  height: 204px;
  width: 584px;
  align-items: center;
  margin: 23px auto;
  background-color: #ffffff;
  padding: 0 30px;
}

.card-title {
  font-size: 30px;
  padding-left: 10px;
  color: #455a64;
  margin-bottom: 0;
}

.card-website {
  padding-left: 10px;
  font-size: 20px;
  color: #607d8b;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #F2F4F4;
}

.enter-button {
  display: flex;
  width: 465px;
  margin: 0 auto;
  background-color: #ffc107;
  height: 40px;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
}

.enter-button:hover {
  background-color: #ffd773;
  transition: .5s
}

.bookmark-count,
.read-count {
  text-align: center;
  color: #ffffff;
  font-size: 21px
}

a:link, 
a:visited {
  color: #455A64;
  text-decoration-color: #f2F4F4;
}

a:hover {
  text-decoration-color: #FFC107;
}

hr {
  width: 98%;
  background-color: #cfd8dc;
}

.read-bttn, 
.delete-bttn {
  color: #607D8B;
  border: none;
  font-size: 16px;
  padding-top: 10px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #F2F4F4;
  background-color: transparent;
}

.delete-bttn {
  float: right;
}

.read-bttn:hover,
.card-website:hover {
  text-decoration: underline;
  text-decoration-color: #FFC107;
  font-weight: 800;
}

.delete-bttn:hover {
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.read {
  background-color: #F2F4F4;
}

.read-underline {
  text-decoration: underline;
  text-decoration-color: #CFD8DC;
}

.read-bttn-style {
  color: #F05A28;
  font-weight: 800;
}


.enter-button:disabled {
  background-color: #000000;
}

.warning {
  text-align: center;
  margin: -30px auto;
  color: #f05a28
}

@media (max-width: 1445px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 975px) {
  body {
    flex-direction: column;
  }
  .main-right{
    max-height: 80vh
  }
  .card {
    width: 85%;
  }
}

@media (max-width: 530px) {
  .main-left {
    max-height: 75vh;
  }
  h1 {
    font-size: 31px;
    margin: 10px auto 0 auto;
  }
  .logo {
    height: 82px;
    width: 39px;
  }
  .web-title,
  .web-url {
    width: 90%;
    margin: 24px auto;
    
  }
  .enter-button {
    width: 90%;
  }
  .bookmark-count,
  .read-count {
    margin: 10px auto;
  }
  .card {
    width: 78%;
    height: 175px;
    margin: 9px auto;
  }
  .card-title {
    font-size: 24px
  }
  .card-website {
    font-size: 17px
  }
}
